$icon-font-path: '../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

@import 'variables';
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  top: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url("../images/bg3.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -webkit-transition: background-image 4s linear;
  transition: background-image 4s linear;
}

body::before {
  content: " ";
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgba(6, 6, 6, 0.82);
}
.header, .footer, .mainView {
  flex: 1;
}

.block {
    display: block;
}

.header {
  max-height: 51px;
  height: 51px;
}

.container {
  width: calc(100vw - 50px);
}

p {
  font-size: 10pt;
}

.logo {
  height: 100%;
}

.player-controls {
  @extend .navbar-nav;
  float: right;
  margin-right: 10px;
}

.ng-enter {
  animation: slideInRight .8s both ease;
}
// .ng-leave {
//   animation: slideInLeft .5s both ease;
// }
@keyframes slideOutLeft {
    to { opacity: 0; transform: translateX(-200%);}
}
@keyframes slideInRight {
    from { opacity: 0; }
    to { opacity: 1; }
}


.navbar-default,
.navbar-default .player-controls > li > a,
.navbar-default .player-controls > li > a:focus,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus {
  background: $dark-grey;
  color: $light-grey;
  font-size: $font-medium;
}

.navbar-default .player-controls > li > a:hover,
.navbar-default .navbar-nav > li > a:hover {
  background: lighten($dark-grey, 10%);
  color: $light-grey;
}


// Stock yeoman stuff
.browsehappy {
  background: #ccc;
  color: #000;
  margin: .2em 0;
  padding: .2em 0;
}

// Custom page header
.header {
  margin-bottom: 10px;

  // Make the masthead heading the same height as the navigation
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

// Custom page footer
.footer {
  padding-top: 19px;
  color: #777;
  position: absolute;
  bottom: 0;
  z-index:0;
}

.container-narrow > hr {
  margin: 30px 0;
}

// Main marketing message and sign up button
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

// Supporting marketing content
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

// Responsive: Portrait tablets and up
@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;
  }

  // Remove the padding we set earlier
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  // Space out the masthead
  .header {
    margin-bottom: 30px;
  }
  // Remove the bottom border on the jumbotron for visual effect
  .jumbotron {
    border-bottom: 0;
  }
}

.song-container {
  margin: 7px 0;
  font-size: 0.8em;
}

.navbar-collapse.in .hide-collapsed {
  display: none !important;
}

.song-container .song-marquee {
  display: inline-block;
  width: 200px;
  margin: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 20s linear infinite;
  -webkit-animation: marquee 20s linear infinite;
  line-height: 1em;
}

.song-container .current-time {
  text-align: center;
}

@keyframes marquee {
  0%   { text-indent: 20em }
  100% { text-indent: -20em }
}
@-webkit-keyframes marquee {
  0%   { text-indent: 20em }
  100% { text-indent: -20em }
}

.navbar a {
  outline: none;
}

.navbar li {
  display: inline-block;
}

.navbar-left {
  float: left;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-user-details:not(.ng-scope) {
  /* okay this is ugly but the ng-if appeared on refresh :S */
  display:none;
}

.navbar-user-details img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin: 5px;
}

btn-mood input {
  display: none;
}

btn-mood {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

btn-mood label {
  display:inline-block;
  position: relative;
  margin:0;
}

btn-mood input + span {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 10px 10px 0;
  background: rgba(0, 0, 0, 0.49);
  cursor: pointer;
  line-height: 100px;
  text-align: center;
}

btn-mood input:checked + span {
  background: rgba(94, 94, 94, 0.49);
}

btn-mood label::before {
  content: "\e201";
  font-family: 'Glyphicons Halflings';
  position: absolute;
  top: 4px;
  left: 2px;
  font-size: 90px;
  width: 100px;
  color: rgb(89, 89, 89);
  vertical-align: middle;
  line-height: 90px;
  z-index: -1;
}

.back-button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background: rgba(60, 60, 60, 0.49);
  color: #EEE;
}
.next-button {
    @extend .back-button;
}

.list-rooms, .messages-container {
  display: block;
  height: 500px;
}

.list-rooms, .list-messages {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-rooms::-webkit-scrollbar-track,
.list-messages::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgb(16, 17, 16);
}

.list-rooms::-webkit-scrollbar,
.list-messages::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

.list-rooms::-webkit-scrollbar-thumb,
.list-messages::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #555;
}

.list-rooms::-webkit-scrollbar-corner,
.list-messages::-webkit-scrollbar-corner {
  background-color: rgb(16, 17, 16);
}

.list-rooms li > a {
  display: block;
  margin: 0 5px 10px 0;
  padding: 5px 5px 5px 0;
  color: #fff;
  font-size: 0.9em;
  height: 80px;
  background: rgba(0, 0, 0, 0.40);
  cursor: pointer;
  outline: none;
}

.list-rooms li > a.roomActive {
  background: rgba(160, 158, 158, 0.4);
}

.list-rooms li > a:hover,
.list-rooms li > a:active {
  text-decoration: none;
}

.list-rooms li > a > i {
  color: #fff;
  float: left;
  font-size: 40px;
  padding: 8px 8px 8px 5px;
  margin-right: 10px;
}

.list-rooms li > a > img {
  float: left;
  width: 70px;
  margin-left: 5px;
  margin-right: 10px;
}

.list-rooms li > a > h4 {
  font-size: 1em;
}

.messages-container {
  background: rgba(0, 0, 0, 0.40);
}

.list-messages {
  font-size: .9em;
  padding: 4px 10px 0px 10px;
  margin: 0;
  min-height: 500px;
  height: 500px;
}

.messages-container {
  position: relative;
}

.messages-container .form-holder {
  width: 100%;
}

.messages-container .form-holder input {
  width: 100%;
  color: #FFF;
  background: rgba(255, 255, 255, 0.09);
  border: none;
  padding: 10px;
  height: 35px;
  outline: none;
}

.no-padding {
  padding: 0;
}

.feedbackSAM {
    display: inline;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    float: right;
    border: 1px solid white;
    background-color: gray;

    .hideButton {
        float: right;
        margin-top: 2px;
        margin-right: 5px;
    }

    .title {
        display: block;
        margin-top: 25px;
        text-align: center;
        margin-bottom: 5px;
    }

    .elements {
        display: flex;
        width: 100%;

        .element {
            display: inline-block;
            margin: auto;
            flex: 1;

            label {
                display: block;
                margin: auto;
                width: 40px;
            }

            input {
                display: block;
                margin: auto;
                margin-top: 5px;
            }
        }
    }

    button {
        width: 100px;
        height: 25px;
        margin: auto;
        margin-top: 10px;
        display: block;
        color: black;
    }
}

.artworkThumb {
    width: 100px;
    height: 100px;
    background: url('/images/default.png');
    background-size: cover;
    border: 0;
    border-radius: 0;
    font-weight: 800;
}
.artworkThumb:hover {
    color: $light-grey;
}
.next-button.artworkThumb {
    background: #333;
    color: $light-grey;
}
