$icon-font-path: '../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';

@import 'variables';
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  top: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url("../images/bg3.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: background-image 2s linear;
}

body::before {
  content: " ";
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: rgba(6, 6, 6, 0.60);
}
.header, .footer, .mainView {
  flex: 1;
}

.block {
    display: block;
}

.header {
  max-height: 51px;
  height: 51px;
}

.container {
  width: calc(100vw - 50px);
}

p {
  font-size: 10pt;
}

.logo {
  height: 100%;
}

.backdrop {
  background-color: rgba(70,70,70,0.6);
  padding: 5px 10px;
}

.about {
    @extend .backdrop;
    p {
        font-size: 14pt;
    }
}

.player-controls {
  @extend .navbar-nav;
  float: right;
  margin-right: 10px;
}

.ng-enter.enter {
  animation: slideInRight .8s both ease;
}

@keyframes slideOutLeft {
    to { opacity: 0; transform: translateX(-200%);}
}
@keyframes slideInRight {
    from { opacity: 0; }
    to { opacity: 1; }
}

.navbar-default .navbar-nav > li > button,
.navbar-default .player-controls > li > button
{
  outline: none;
  border: none;
  padding: 14px;
}

.navbar-default .navbar-nav > li > button:disabled,
.navbar-default .player-controls > li > button:disabled
{
  color: grey;
}

.navbar-default,
.navbar-default .player-controls > li > a,
.navbar-default .player-controls > li > a:focus,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .player-controls > li > button,
.navbar-default .player-controls > li > button:focus,
.navbar-default .navbar-nav > li > button,
.navbar-default .navbar-nav > li > button:focus {
  background: $dark-grey;
  color: $light-grey;
  font-size: $font-medium;
}

.navbar-default .player-controls > li > a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .player-controls > li > button:hover:not(:disabled),
.navbar-default .navbar-nav > li > button:hover:not(:disabled)  {
  background: lighten($dark-grey, 10%);
  color: $light-grey;
}


// Stock yeoman stuff
.browsehappy {
  background: #ccc;
  color: #000;
  margin: .2em 0;
  padding: .2em 0;
}

// Custom page header
.header {
  margin-bottom: 10px;

  // Make the masthead heading the same height as the navigation
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

// Custom page footer
.footer {
  padding-top: 19px;
  color: #777;
  position: absolute;
  bottom: 0;
  z-index:0;
}

.container-narrow > hr {
  margin: 30px 0;
}

// Main marketing message and sign up button
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

// Supporting marketing content
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}
.song-container {
  margin: 7px 0;
  font-size: 0.8em;
}

.navbar-collapse.in .hide-collapsed {
  display: none !important;
}

.song-container .song-marquee {
  display: inline-block;
  width: 200px;
  margin: 0 10px;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
  animation: marquee 20s linear infinite;
  -webkit-animation: marquee 20s linear infinite;
  line-height: 1em;
}

.song-container .current-time {
  text-align: center;
}

@keyframes marquee {
  0%   { text-indent: 20em }
  100% { text-indent: -20em }
}
@-webkit-keyframes marquee {
  0%   { text-indent: 20em }
  100% { text-indent: -20em }
}

.navbar a {
  outline: none;
}

.navbar li {
  display: inline-block;
  height: 50px;
}

.navbar-left {
  float: left;
}

.navbar-center {
  margin-left: auto;
  margin-right: auto;
  width: 250px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-user-details:not(.ng-scope) {
  /* okay this is ugly but the ng-if appeared on refresh :S */
  display:none;
}

.navbar-user-details img {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin: 5px;
}

btn-mood input {
  display: none;
}

btn-mood {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
}

btn-mood label {
  display:inline-block;
  position: relative;
  margin:0;
}

btn-mood input + span {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 10px 10px 0;
  background: rgba(0, 0, 0, 0.49);
  cursor: pointer;
  line-height: 100px;
  text-align: center;
}

btn-mood input:checked + span {
  background: rgba(94, 94, 94, 0.49);
}

btn-mood label::before {
  content: "\e201";
  font-family: 'Glyphicons Halflings';
  position: absolute;
  top: 4px;
  left: 2px;
  font-size: 90px;
  width: 100px;
  color: rgb(89, 89, 89);
  vertical-align: middle;
  line-height: 90px;
  z-index: -1;
}

.back-button {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  background: rgba(60, 60, 60, 0.49);
  color: #EEE;
}
.next-button {
  @extend .back-button;
  transition: 0.1s linear all;
  opacity: 1;

  &.ng-hide {
    opacity: 0;
  }
}

.list-rooms, .messages-container {
  display: block;
  height: $chatheight;
}

.list-rooms, .list-messages {
  display: block;
  overflow-y: scroll;
  overflow-x: hidden;
  word-wrap: break-word;
}

.list-rooms::-webkit-scrollbar-track,
.list-messages::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: rgb(16, 17, 16);
}

.list-rooms::-webkit-scrollbar,
.list-messages::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}

.list-rooms::-webkit-scrollbar-thumb,
.list-messages::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #555;
}

.list-rooms::-webkit-scrollbar-corner,
.list-messages::-webkit-scrollbar-corner {
  background-color: rgb(16, 17, 16);
}

.list-rooms li > a {
  display: block;
  margin: 0 5px 10px 0;
  color: #fff;
  font-size: 0.9em;
  height: 80px;
  background: rgba(0, 0, 0, 0.40);
  cursor: pointer;
  outline: none;
  padding: 5px;
  overflow: hidden;

  &.active {
    background: rgba(160, 158, 158, 0.4);
  }

  &:hover,
  &:active {
    text-decoration: none;
  }

  & > i {
    color: #fff;
    float: left;
    font-size: 40px;
    padding: 8px 8px 8px 5px;
    margin-right: 10px;
  }

  & > img {
    float: left;
    width: 70px;
    margin-right: 10px;
  }

  & > h4 {
    font-size: 1em;
    margin-top: 4px;
    font-weight: bold;
    margin-bottom: 0px;
  }
}

.messages-container {
  background: rgba(0, 0, 0, 0.40);
}

.list-messages {
  font-size: .9em;
  padding: 4px 10px 0px 10px;
  margin: 0;
  min-height: $chatheight;
  height: $chatheight;
}

.messages-container {
  position: relative;
}

.messages-container .form-holder {
  width: 100%;
}

.form-holder form{
  display: flex;
  width: 100%;
}

.messages-container .form-holder input {
  color: #fff;
  background: rgba(255, 255, 255, 0.09);
  border: none;
  padding: 10px;
  outline: none;
  flex: 1;
  flex-grow: 4;
}

.messages-container .form-holder input[type='submit'] {
  background: rgba(0, 60, 0, .5);
  flex: 1;
  flex-grow: 1;
  text-transform: uppercase;
}

.notloggedIn {
  color: rgb(169, 169, 169);
  width: 100%;
}



.no-padding {
  padding: 0;
}

.center-span {
    text-align: center;
}

.feedbackSAM {
    display: inline;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    float: right;
    border: 1px solid white;
    background-color: gray;

    .hideButton {
        float: right;
        margin-top: 2px;
        margin-right: 5px;
    }

    .title {
        display: block;
        margin-top: 25px;
        text-align: center;
        margin-bottom: 5px;
    }

    .elements {
        display: flex;
        width: 100%;

        .element {
            display: inline-block;
            margin: auto;
            flex: 1;

            label {
                display: block;
                margin: auto;
                width: 40px;
            }

            input {
                display: block;
                margin: auto;
                margin-top: 5px;
            }
        }
    }

    button {
        width: 100px;
        height: 25px;
        margin: auto;
        margin-top: 10px;
        display: block;
        color: black;
    }
}

.full .feedbackSAM {
    display: block;
    float: none;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    .element {

        label {
            width: 80px;
            height: 120px;
        }

        img {
            height: 120px;
            width: 80px;
        }
    }

    button {
        margin-bottom: 10px;
    }
}

.artworkThumb {
    width: 100px;
    height: 100px;
    background: url('/images/default.png');
    background-size: cover;
    border: 0;
    border-radius: 0;
    font-weight: 800;
}
.artworkThumb:hover {
    color: $light-grey;
}
.next-button.artworkThumb {
    background: #333;
    color: $light-grey;
}

.points {
    height:20px;
    font-size:18px;
    color:$light-grey;
    text-align:center;
    line-height:20px;
}
.points:after {
    content: " points";
}

.leaderboard {
  table, th, td {
    padding: 5px;
    font-size: 20px;
  }
  table {
    counter-reset: rowNumber;
  }

  table tr {
    counter-increment: rowNumber;
  }

  table tr td:second-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
  }
}

.full-width {
	width: 100%;
}

@media screen and (max-width: 600px) {
    .song-info {
        text-align: center;
    }

    /* We need to override the text-align: right so the text doesn't look
    awkward compared to the rest. */
    .song-timestamp {
        text-align: center;
        width: 100%;
    }
}

.song-info {
	margin-top: 75px;
}

.song-name {
	font-size: 15px;;
}

.song-artist {
	font-size: 15px;
  display: inline-block;
	color: rgba(255, 255, 255, 0.6);
	font-weight: bold;
  margin-top: 0;
}

.purchase-container {
	margin-bottom: 80px;
}

.progress-bar {
	height: 5px;
	margin-bottom: 20px;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
}

.progress-bar-progress {
	height: 5px;
	background-color: #EEE;
}

.song-timestamp {
  display: inline-block;
	text-align: right;
	font-size: 12px;
  float: right;
  margin-top: 0;
}

.song-purchase, .song-purchase:visited, .song-purchase:focus {
	font-size: 15px;
	margin: 20px 0px;
	margin-bottom: 50px;
	color: rgba(255,255,255,0.6);
	font-weight: bold;
	text-decoration: none;
}

.song-purchase:hover {
	text-decoration: none;
	color: white;
}

#feedback-sam-container {
  position: fixed;
  z-index: 5;
  right: 20px;
  top: 12px;
}

.navbar-default .navbar-nav > li > a.active {
  background: rgba(120, 120, 120, .4);
}


@media screen and (max-width: 1800px) {
  .messages-container,
  .list-messages {
    height: $mediumchatheight;
    min-height: $mediumchatheight;
  }
}

// Responsive: Portrait tablets and up
@media screen and (max-width: 768px) {
  .container {
    max-width: 730px;
    width: 100%;
  }

  .messages-container,
  .list-messages {
    height: $mobilechatheight;
    min-height: $mobilechatheight;
  }

  // Remove the padding we set earlier
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  // Space out the masthead
  .header {
    margin-bottom: 30px;
  }
  // Remove the bottom border on the jumbotron for visual effect
  .jumbotron {
    border-bottom: 0;
  }

  .navbar .navbar-nav, .navbar .player-controls {
    display: block;
  }
}
