<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>MoodCat.me</title>
    <meta name="description" content="Welcome to MoodCat.me, the music platform of the future, available today. Join us in the adventure of finding and enjoying music geared to you!">
    <meta property="og:image" content="http://moodcat.me/images/fbimage.png"/>
    <meta property="og:title" content="MoodcatMe" />
    <meta property="og:description" content="Welcome to MoodCat.me, the music platform of the future, available today. Join us in the adventure of finding and enjoying music geared to you!" />
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="moodCatApp" ng-controller='AudioCtrl as audioCtrl'>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand no-padding" href="#/"><img src="/images/logo.svg" class="logo"></img></a>
            <a class="navbar-brand" href="#/">MoodCat.me</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
              <li><a ui-sref="moods" ui-sref-active="active">Home</a></li>
              <li><a ui-sref="classify" ui-sref-active="active">Rating game</a></li>
              <li><a ui-sref="about" ui-sref-active="active">About</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right player-controls">
              <li ng-class="audioCtrl.voteOriantation"><button ng-if="sound" ng-disabled="audioCtrl.voted" ng-click="audioCtrl.voteUp()"><i class="glyphicon glyphicon-thumbs-up"></i></button></li>
              <li ng-class="audioCtrl.voteOriantation"><button ng-if="sound" ng-disabled="audioCtrl.voted" ng-click="audioCtrl.voteDown()"><i class="glyphicon glyphicon-thumbs-down"></i></button></li>
              <li><button ng-click='sound.muting = !sound.muting'><span ng-class="sound.muting ? 'glyphicon glyphicon-volume-off' : 'glyphicon glyphicon-volume-up'"></span></button></li>
              <li>
                <button ui-sref="leaderboard" ng-if="loggedIn">
                  <div class="points" ng-bind="ptsCtrl.points" ng-controller="PointsCtrl as ptsCtrl"></div></button>
              </li>
              <li sound-cloud-login></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-center hide-collapsed visible-lg">
              <li>
                <div class="song-container">
                  <div class="song-title">
                    <i class="glyphicon glyphicon-music"></i>
                    <div ng-bind="song.name" class="song-marquee"></div>
                  </div>
                  <div class="current-time" ng-bind="currentTimecode"></div>
                </div>
              </li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <img src="images/loginarrow.png" class="loginarrow visible-lg-block" alt="loginarrow" ng-if="!loggedIn">

    <div class="container mainView">
        <!-- The actual content -->
        <div ui-view class="row"></div>
    </div>

    <div class="footer">
      <div class="container">
          <div ng-include src="'views/footer.html'"></div>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/momentjs/moment.js"></script>
    <script src="bower_components/humanize-duration/humanize-duration.js"></script>
    <script src="bower_components/angular-timer/dist/angular-timer.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/ui-router-extras/release/ct-ui-router-extras.js"></script>
    <script src="bower_components/angular-soundcloud/src/angular-soundcloud.js"></script>
    <script src="bower_components/howler.js/howler.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/config.js"></script>
        <script src="scripts/directives.js"></script>

        <script src="scripts/services/chatService.js"></script>
        <script src="scripts/services/moodService.js"></script>
        <script src="scripts/services/roomService.js"></script>
        <script src="scripts/services/audio/currentSongService.js"></script>
        <script src="scripts/services/audio/soundCloudService.js"></script>
        <script src="scripts/services/classify/classificationService.js"></script>
        <script src="scripts/services/classify/classifySongService.js"></script>
        <script src="scripts/services/points/pointsService.js"></script>
        <script src="scripts/services/util/moodcatBackend.js"></script>


        <script src="scripts/controllers/aboutController.js"></script>
        <script src="scripts/controllers/moodController.js"></script>
        <script src="scripts/controllers/roomController.js"></script>
        <script src="scripts/controllers/selectRoomController.js"></script>
        <script src="scripts/controllers/audio/audioController.js"></script>
        <script src="scripts/controllers/audio/soundCloudController.js"></script>
        <script src="scripts/controllers/classify/classifyController.js"></script>
        <script src="scripts/controllers/points/leaderBoardController.js"></script>
        <script src="scripts/controllers/points/pointsController.js"></script>
        <!-- endbuild -->
</body>
</html>
