<div class="about col-md-offset-3 col-md-6">
    <h1>Welcome to MoodCat.me</h1>
    <p>
        Hi there!
        Welcome to MoodCat.me, the music platform of the future, available today.
        Join us in the adventure of finding and enjoying music geared to you!
    </p>
    <h2>How does it work?</h2>
    <p>
        Go to the homepage, and select what mood(s) you're in.
        Once you click next, we provide a list of possible suitable rooms you can join.
        Pick the one you like to join the room.
        Immediately music will start playing and you can interact with people in the same mood!
    </p>
    <blockquote>
        The song that is currently playing doesn't fit.
    </blockquote>
    <p>
        We're constantly trying to improve the system. You can give us feedback to help us.
        If you think a song fits the current mood, click the <i class="glyphicon glyphicon-thumbs-up"></i> button in the room.
        This will tell the system it provided the correct recommendation. Similarly, if the song does not fit the room, click the <i class="glyphicon glyphicon-thumbs-down"></i> button.
        We'll modify the system based on your feedback. If you want to help us even better, you can use the popup to modify the rating of the song to your vision.
    </p>
    <h3>We need your help!</h3>
    <p>
        Want to make MoodCat a better place?
        You can help us improving Moodcat in a couple of ways.
        All users can participate in our <a ui-sref="classify">rating game</a>.
        Listen to 30 seconds of music, and give your feedback on the song.
        For every 5 songs you rate, you earn <strong>30</strong> points!
    </p>
    <p>
        There are even more ways to earn points. If you find a bug in MoodCat,
        <a href="https://github.com/MoodCat/MoodCat.me/issues/new">file a Github issue!</a>.
        Correct and useful bug reports can earn you up to <strong>100</strong> points!
    </p>
    <p>
        Do you have a cool feature in mind, and do you want to share it with everybody?
        If you <a href="https://github.com/MoodCat/MoodCat.me/compare">submit a Pull-Request</a>, we see the feature as fun/useful,
         and your code complies with our standards, we merge your PR and you earn up to <strong>250</strong> points!
    </p>
</div>
