<div class="col-md-offset-3 col-md-6">
        <div class="block">
        </div>
        <div>
          <h4>In the mood?</h4>
          <p>
            Hi there!
            Welcome to MoodCat.me.
            We hope you will enjoy your stay.
          </p>
          <p>
            How are you feeling?
            Select one or more moods below, and click next.
            We will find you a suitable room to join.
          </p>
          <p>
            Do you have a SoundCloud account? Log in with the button on the top right.
            Once logged in, you can chat in rooms, or help us out and earn points in the <a ui-sref="classify">Rating game</a>
          </p>
          <div class="spaceBetween">
              <btn-mood ng-model="mood.enabled" ng-repeat="mood in moods" class="enter">{{mood.name}}</btn-mood>
              <button ng-click="submitMoods()" ng-show="hasSelectedMoods()"
                    class="btn-default next-button artworkThumb">
                Next <span class="glyphicon glyphicon-menu-right"></span>
              </button>
          </div>
        </div>
</div>
