<div id="feedback-sam-container"></div>

<div class="col-md-offset-1 col-md-6">
    <button ui-sref="moods" class="glyphicon glyphicon-menu-left btn-default back-button">Back</button>
    <h4 ng-bind="room.name"></h4>
    <div class="messages-container">
        <ul class="list-unstyled list-messages" id="chat-messages-list">
            <li ng-repeat="message in messages">
                <strong ng-bind="message.time | date:'HH:mm'"></strong>
                <strong ng-bind="message.author"></strong>
                <span ng-bind="message.message"></span>
            </li>
        </ul>
        <div class="form-holder">
            <form ng-submit="addMessage()">
                <input type="text" ng-model="chatMessage.message" placeholder="Type a message" />
                <input type="submit" value="Send" class="highlight" />
            </form>
        </div>
    </div>
</div>

<div class="song-info col-md-4">
    <img src="{{song.artworkUrl}}" class="full-width">
    <h2 class="song-name" ng-bind="song.name">Song name</h2>
    <h3 class="song-artist" ng-bind="song.artist.name">Song artist</h3>
    <h4 class="song-timestamp" ng-bind="makeTimeStamp(progress * song.duration) + ' / ' + makeTimeStamp(song.duration)"></h4>
    <div class="progress-bar">
        <div class="progress-bar-background"></div>
        <div ng-style="{width: progress * 100 + '%'}" class="progress-bar-progress"></div>
    </div>
    <a class="song-purchase" ng-if="song.purchaseTitle" ng-href="{{song.purchaseUrl}}" target="_blank" ng-bind="song.purchaseTitle"></a>
</div>
