<div>
  <button ui-sref="moodSelection" class="glyphicon glyphicon-menu-left btn-default back-button">Back</button>
  <h4>Get a room</h4>
  <ul class="list-unstyled list-rooms">
    <li ng-repeat="room in rooms | orderByProperty:'position'">
      <a ui-sref="room" ng-click="selectRoom(room)" ng-class="{ 'roomActive' : activeRoom == room }">
        <img ng-src="{{room.song.artworkUrl}}"/>
        <!--<i class="glyphicon glyphicon-cd"></i>-->
        <h4 ng-bind="room.name"></h4>
        <span class="remainingTime">next song in: <timer countdown="room.timeLeft" interval="1000">{{mminutes}}:{{sseconds}}</timer></span>
        <div>
          <strong>Now playing: </strong>
          <span ng-bind="room.song.artist.name"></span> - <span ng-bind="room.song.name"></span>
        </div>
      </a>
    </li>
  </ul>
</div>
